body {
  size: 0;
  background-color: #f9c1b1;
  background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.logo-container {
  margin: auto;
  max-width: 790px;
  height: auto;
}

.logo {
  padding-left: 0%;
  margin: auto;
  max-width: 100%;
  max-height: auto;
  position: relative;
  padding-bottom: 10%;
}

.game {
  height: 500px;
  width: 500px;
  margin: auto;
}

#gameArea {
  width: 500px;
  height: 500px;
}
