body {
  size: 0;
  background-color: #f9c1b1;
  background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo-container {
  margin: auto;
  max-width: 790px;
  height: auto;
}

.logo {
  padding-left: 0%;
  margin: auto;
  max-width: 100%;
  max-height: auto;
  position: relative;
}

.space-maker {
  height: 300px;
  width: 500px;
}

.button-interface {
  padding-left: 0%;
  margin: auto;
  max-width: 790px;
  max-height: auto;
}

.button1 {
  margin: auto;
  float: left;
}

.button-interface2 {
  padding-right: 0%;
  margin: auto;
  max-width: 790px;
  max-height: auto;
}

.button2 {
  margin: auto;
  float: right;
  cursor: pointer;
}

.footer {
  max-width: 50%;
  position: relative;
}

form {
  position: relative;
  text-align: center;
  width: 30%;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
  padding: 25px;
  font-size: 32px;
  border-radius: 3%;
  border: 1px solid #fff;
  background-color: transparent;
}

@media only screen and (min-device-width: 321px) and (max-device-width: 510px) {
  body {
    size: 0;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .logo-container {
    margin: auto;
    max-width: 1024px;
    height: auto;
  }

  .logo {
    padding-left: 0%;
    margin: auto;
    max-width: 100%;
    max-height: auto;
    position: relative;
  }

  .space-maker {
    height: 200px;
    max-width: 100%;
  }

  .button-interface {
    margin: auto;
    max-width: 100%;
    max-height: auto;
    display: grid;
  }

  .button1 {
    margin: auto;
  }

  .button-interface2 {
    display: grid;
    padding-top: 50px;
    margin: auto;
    max-width: 100%;
    max-height: auto;
  }

  .button2 {
    margin: auto;
  }

  .footer {
    max-width: 60%;
    position: relative;
  }

  form {
    position: relative;
    text-align: center;
    width: 200px;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
    padding: 25px;
    font-size: 32px;
    border-radius: 3%;
    border: 1px solid #fff;
    background-color: transparent;
  }
}

@media only screen and (max-device-width: 320px) {
  body {
    size: 0;
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .logo-container {
    margin: auto;
    max-width: 1024px;
    height: auto;
  }

  .logo {

    margin: auto;
    max-width: 100%;
    max-height: auto;
    position: relative;
  }

  .space-maker {
    height: 100px;
    max-width: 100%;
  }

  .button-interface {

    margin: auto;
    max-width: 100%;
    max-height: auto;
    display: grid;
  }

  .button1 {
    margin: auto;
  }

  .button-interface2 {
    display: grid;
    padding-top: 50px;
    margin: auto;
    max-width: 100%;
    max-height: auto;
  }

  .button2 {
    margin: auto;
  }

  .footer {
    max-width: 60%;
    position: relative;
  }

  form {
    position: relative;
    text-align: center;
    width: 200px;
    color: #fff;
    transition: all 0.5s;
    cursor: pointer;
    padding: 24px;
    font-size: 24px;
    border-radius: 3%;
    border: 1px solid #fff;
    background-color: transparent;
  }
}
